@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #000000;
  font-family: "Inter", sans-serif;
}

.typographyH1{
  @apply text-[68px] font-bold leading-[50px] text-white text-center lg:text-[106px];
}

.typographyH3{
  @apply text-[15px] font-light text-gray-400 text-center leading-4 lg:text-[24px] lg:leading-7;
}

.title-section{
  @apply text-3xl font-bold leading-tight text-white sm:text-4xl lg:text-5xl;
}

.title-section-2{
  @apply text-2xl font-bold leading-tight text-white sm:text-3xl lg:text-4xl;
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent;
    background-image: linear-gradient(to right, #FF7205, #FFA122);
  }
}

@layer utilities {
  .border-gradient {
    position: relative;
    display: inline-block;
  }

  .border-gradient::before {
    content: '';
    position: absolute;
    top: -4px; /* Ajuste conforme a espessura desejada */
    right: -4px;
    bottom: -4px;
    left: -4px;
    z-index: -1;
    background: linear-gradient(to right, #f6d365, #fda085);
    border-radius: inherit;
  }
}

.effect-blur{
  z-index: -50;
  width: 43px;
  height: 383px;
  opacity: .79;
  filter: blur(67px);
  background-color: #FF7205;
  border-radius: 100%;
  position: absolute;
  bottom: -210px;
  right: 0px;
}

.effect-blur-2{
    z-index: -50;
    width: 393px;
    height: 183px;
    opacity: .39;
    filter: blur(67px);
    background-color: #FF7205;
    border-radius: 100%;
    position: absolute;
    bottom: 60px;
    left: -390px;
}

@media (min-width: 1100px) {
  .effect-blur{
    z-index: -50;
    width: 893px;
    height: 383px;
    opacity: .69;
    filter: blur(217px);
    background-color: #FF7205;
    border-radius: 100%;
    position: absolute;
    bottom: -710px;
    right: -380px;
  }
  
  .effect-blur-2{
      z-index: -50;
      width: 393px;
      height: 283px;
      opacity: .49;
      filter: blur(187px);
      background-color: #FF7205;
      border-radius: 100%;
      position: absolute;
      bottom: -480px;
      left: -490px;
  }

 
}

/* Estilizando o scrollbar em navegadores baseados em WebKit (como Chrome, Safari, Opera) */
/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
  width: 12px; /* largura da barra de rolagem */
}

/* Estilizando o thumb (a parte arrastável da barra de rolagem) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* cor do thumb */
  border-radius: 6px; /* borda do thumb */
}

/* Estilizando a track (a parte não arrastável da barra de rolagem) */
::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* cor da track */
}